@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link rel="stylesheet" href="~/webError/css/style.css" type="text/css" media="all" />
<!--//Style-CSS -->
<!-- font-awesome-icons -->
<link href="~/webError/css/font-awesome.css" rel="stylesheet">
<section class="w3l-error-61-404">
    <!-- /error-61-section -->
    <div class="error-61-mian">
        <div class="wrapper">
            <div class="errors-16-top">
                <div class="errors-16-info">
                    <h3>404 </h3>

                    <p>Oops! Page Not Found</p>
                    <form action="#" method="post" class="d-flex error-page-form">
                        <input type="search" placeholder="Search here" required="required">
                        <button type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
